*.out
2020-10-07/calculator/calculator
2020-10-16/typesTest
2020-11-13-chars/teacher-code.c
project/logs/msg1.txt
project/logs/msg2.txt
project/logs/msg3.txt
2021-01-26-files/testFopen.c
2021-01-26-files/test3.txt
2021-01-26-files/firstLevel/test/test2.txt
2021-01-26-files/firstLevel/test/test4.txt
2021-01-26-files/firstLevel/test/test.txt
